main section{
    margin-top: 4%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #eee;
}
/*
#conteiner-preview{
    
}*/

/* usuario*/
#barra-de-load{
    background-color: mediumseagreen;
    position: absolute;
    margin-top: -10px;
    width: calc(0% - 30px);
    height: 5px;
}

#conteiner-preview figure{
    text-align: center;
}