#logo{
    margin-top: 12%;
    margin-bottom: 30px;
    text-align: center;
}

#form-pesquisa{
    text-align: center;
    outline: none;
}

#form-pesquisa button{
    margin-top: 10px;
}

#login-conteiner{
    position: absolute;
}

.cinza{
    background-color: gray;
    padding: 20px;
}

#resultado{
    margin-top: 30px;
}

.resultado{
    border-radius: 5px;
    padding: 0px 0px 5px 40px;
}